@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 8, 9, 10;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 31, 42, 55;
    --background-end-rgb: 31, 42, 55;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  @apply font-bebasNeue text-6xl text-gray.800 pb-2;
}
h2 {
  @apply text-2xl md:mt-10 my-2 text-gray.800 font-raleway;
}
h3 {
  @apply text-4xl font-raleway text-gray.700;
}
h4 {
  @apply text-sm uppercase font-bold;
}
hr {
  @apply text-gray.500 my-4;
}
p {
  @apply leading-loose text-justify md:text-left mb-4 text-gray.500;
}
span {
  @apply leading-loose text-justify md:text-left mb-3 text-gray.500;
}

p a {
  @apply text-gray.700;
}